.post {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff7e6; 
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .post-content {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .post-title {
    font-family: 'Georgia', serif; 
    font-size: 1.4rem;
    color: #3e2723; 
    margin-bottom: 10px;
  }

  .post-image-container {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .post-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .post-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #6d4c41; 
  }
  
  .post-votes {
    display: flex;
    gap: 15px;
  }
  
  .upvotes, .downvotes {
    font-family: 'Courier New', Courier, monospace; 
    color: #795548; 
  }
  
  .post-author {
    font-style: italic;
    color: #8d6e63; 
    margin-right: 10px;
  }
  
  .post-time {
    color: #8d6e63;
    margin-right: 10px; 
  }
  
  .post-comments {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .downvotes {
    margin-right: 10px; 
  }
  
  .comment-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #6d4c41; 
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .comment-toggle-button:hover,
  .comment-toggle-button.active {
    color: #ff7043; 
  }

  .comments-section {
    margin-top: 15px;
    padding: 10px;
    background-color: #f5f0e1; 
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    word-break: break-word;
    overflow-wrap: break-word; 
  }

  .post-comments .comment-toggle-button .icon-action {
    margin-right: 2px; /* Adjust this value */
  }
  
  @media (max-width: 768px) {
    .post {
      padding: 10px;
    }
  
    .post-title {
      font-size: 1.2rem;
    }
  
    .post-details {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
